#button{
    background-color: #1E5753; /* Green */
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#button2 {
    background-color: #1E5753; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

body{
  background-color: #4CAF50;
}
